html {
    height: 100%;
}
body {
    height: 100%;
}
#mainContainer {
    display: flex;
    align-items: center;
    height: 100%;
}
#secondContainer {
    border: 2px solid red;
    width: 50%;
    height: 100%;
}
#searchPane{
    border: 2px solid blue;
    height: 50%;
}
#recentsPane {
    border: 2px solid green;
    height: 50%;
}
#displayPane {
    border: 2px solid black;
    width: 50%;
    height: 100%;
}
